<app-orbit-list [satellites]="displayList"></app-orbit-list>
<div class="search-form">
    <input #searchTerm (keyup.enter)="search(searchTerm.value)"/>
    <button (click)="search(searchTerm.value)">Submit</button>
</div>
<!-- <app-orbit-counts [satellites]="displayList"></app-orbit-counts>
<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>9</span></div>
   <div>Space Debris: <span>1</span></div>
   <div>Communication: <span>2</span></div>
   <div>Probe: <span>2</span></div>
   <div>Positioning: <span>1</span></div>
   <div>Space Station: <span>2</span></div>
   <div>Telescope: <span>1</span></div>
</div> -->